<!DOCTYPE html>
<html>
  <head>
    <title>Phuket Border Run</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="bg-video-wrap">
      <video disablePictureInPicture controls="false" controlsList="nodownload" playsinline autoplay muted loop >
        <source src="<%= asset_path('background.mp4') %>" type="video/webm">
      </video>
      <div id="loadWrapper">
        <div id="loading-bar-spinner" class="spinner">
          <div class="spinner-icon"></div>
        </div>
      </div>
      <%= yield %>
    </div>

    <!-- Yandex.Metrika counter -->
    <% if Rails.env.production? %>
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(96036070, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96036070" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <% end %>
  </body>
</html>
